{% extends "base.html" %}

{% block content %}

<h2>Usuarios ElectroTienda</h2>

<table border="1">
<tr>
    <th>Nombre</th>
    <th>Apellido1</th>
    <th>Apellido2</th>
    <th>Correo</th>
    <th>Acción</th>
</tr>

{% for u in usuarios %}
<tr>
    <td>{{ u[1] }}</td>
    <td>{{ u[2] }}</td>
    <td>{{ u[3] }}</td>
    <td>{{ u[4] }}</td>
    <td>
        <form action="/eliminarUsuario/{{ u[0] }}" method="post" style="display:inline;">
            <button type="submit"
                onclick="return confirm('¿Esta seguro que desea eliminar el usuario? Tenga en cuenta que se eliminaran todos los pedidos asociados a este usuario')">
                Eliminar
            </button>
        </form>
    </td>
</tr>
{% endfor %}
</table>

{% if request.args.get('msg') == 'eliminado' %}
    <p>Usuario y pedidos asociados eliminados correctamente</p>
{% endif %}

<br>

<a href="/crearUsuario">
    <button>Crear Usuario</button>
</a>

{% endblock %}